<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://messagefunction20221024205910.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d2bb5ab4-8aaf-46e6-af86-31a26793dbc2/resourcegroups/User-chat/providers/Microsoft.Web/sites/MessageFunction20221024205910</ResourceId>
    <UserName>$MessageFunction20221024205910</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://messagefunction20221024205910.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>